{% extends 'base.html.twig' %}

{% block title %}
Registration
{% endblock %}

{% block body %}
    <main class="container p-md-5">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">S'enregistrer</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn-outline-primary">S'enregistrer</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
